h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .card {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .planets-line {
    margin-bottom: 30px;
  }
  
  .panel {
    display: flex;
    justify-content: space-between;
  }
  
  .panel-pagination {
    display: flex;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }
  
  .list-group-item span:nth-child(2) {
    text-align: right;
  }